<!DOCTYPE html>
<html>
<head>
	<title>Template Example</title>
	<script type="text/javascript" src='../vue.js'></script>
</head>
<body>

	<div id='app'>
		{{ number + 1 }}

		{{ ok ? 'YES' : 'NO' }}

		{{ message.split('').reverse().join('') }}
		
		<p>Template:{{rawHtml}}</p>
		<p>Origin html:<span v-html="rawHtml"></span></p>
		<div :id="'list-' + id"></div>
		<a :href="url">click me</a>

		<button @click="doSomething">click me </button>

		{{reverseMessage}}
	</div>

	<div id="demo">{{ fullName }}</div>

	<div class="static"
     v-bind:class="{ active: isActive, 'text-danger': hasError }">
	</div>


<script type="text/javascript" src="app.js"></script>
</body>
</html>