<!DOCTYPE html>
<html>
<head>
	<title>VueExample</title>
	<meta charset="utf-8">
	<script src="./vue.js"></script>
	
</head>
<body>
<h1>Vue Example</h1>

<div id="app">
  {{ message }}<br/>
  <span v-once>{{message}}</span>
</div>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<div id="app-3">
  <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">逆转消息</button>
</div>


<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>


<div id="app-7">
  <ol>
	    <todo-item
	    v-for="item in groceryList"
	    v-bind:todo="item"
	    v-bind:key="item.id">
	    </todo-item>
    </ol>
</div>

<script type="text/javascript" src="./app.js"></script>
</body>

</html>